<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<button (click) = 'getData()'>Fetch Data </button>

<div class="topbox menu">
  <div class="mainbox">
    <h3 style="align-self: center">User</h3>
    <div class="flexrow" *ngFor="let user of data$ | async">
      <button class="btn btn-primary btn-row" (click)="userClick(user.id)">{{user.name}}</button>
    </div>
  </div>
  <div class="mainbox">
    <ng-container *ngIf="selected">
      <ul>
        <li>{{selectedUser.id}}</li>
        <li>{{selectedUser.name}}</li>
        <li>{{selectedUser.username}}</li>
        <li>{{selectedUser.phone}}</li>
        <li>{{selectedUser.website}}</li>
        <li (click)="showArray(selectedUser.company)">Company</li>
        <li (click)="showArray(selectedUser.address)">Address</li>
        </ul>
    </ng-container>
  </div>
  </div>
